// Scss Document

@charset "utf-8";

$sz_sp: 375px;//375px;
$sz_tab: 900px;//タブレット用

/*共通設定
______________________________________________*/
$sp:375px; //pc

@mixin sp {
    @media(max-width: ($sp)) {
        @content;//都度適応させる
    }
}

$tab: 900px;

@mixin tab {       
  @media (max-width: ($tab)) {
    @content;
  }
}

/*画面全体の設定*/
body,
html {
  height: 100%;
    width: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
}

/*  基本レイアウト*/
html {
    font-size: 1em;
    font-family: sans-serif;
    color: #282626;
}


.col-8,.col-sm-10 {
    margin: 0 auto;
}

a{
  color: #282626;
  text-decoration: none;
    
    :hover {
        color: #444444;
    }
}

h2 {
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #fff100;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Dela Gothic One', cursive;
    
     @include sp {
        font-size: 16px;
        }
}

h2:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

footer { 
    text-align: center;
}

/*固定する背景*/


/* .menu-btn 設定　ここから */

.wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px;
    
    @include tab {
        max-width: 758px;
        padding: 0 20px;
        }
    
    @include sp {
        max-width: 250px;
        padding: 0;
        }
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn2{
    position: fixed;/*ボタン内側の基点となるためrelativeを指定*/
    width: 50px;
    height:50px;
    cursor: pointer;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
  
/*ボタン内側*/

.openbtn2 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 13px;
    height: 2px;
  background-color: #666;
  }


.openbtn2 span:nth-of-type(1) {
  top:22px; 
    width: 50%;
}

.openbtn2 span:nth-of-type(2) {
  top:29px;
    width:30%;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn2.active span:nth-of-type(1) {
    top: 20px;
    left: 16px;
    transform: translateY(6px) rotate(-45deg);
    width: 35%;
}

.openbtn2.active span:nth-of-type(2) {
    top: 32px;
    left: 16px;
    transform: translateY(-6px) rotate(45deg);
    width: 35%;
}
/*========= レイアウトのためのCSS ===============*/

.lead{
  margin:20px 0 0 0;
}

.btn-block{
  width:200px;  
  padding: 30px;
}

/* .menu-btn 設定　ここまで */

/*========= ナビゲーションのためのCSS ===============*/

#gnav{
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
  z-index: -1;
  opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
  top:0;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background: rgba(175,170,160,0.80);
    /*動き*/
  transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#gnav.panelactive{
  opacity: 1;
  z-index:999;
}

/*ナビゲーションの縦スクロール*/
#gnav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#gnav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#gnav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#gnav li{
  list-style: none;
    text-align: center; 
}

#gnav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* nav 設定　ここまで */


.firstview {
    max-width: 100%;
    
    &__view1 {
        max-width: 100%;
        
        @include sp {
            max-width: 100%;
        }
    }
}

/* profile
_____________________________________________________________*/

.mine {
    margin: 0 auto;
    position: relative;
    
    @include tab {
            
        }
    
    &__wrapper {
        font-family: 'Noto Serif JP', serif;
        width: 100%;
        height: 600px;
        display: flex;
        background-image: url("../images/like.png");
        background-size: auto 300px;
        background-position: bottom -100px right;
        
        @include tab {
            flex-flow: column;
        }
    }
    
    &__r {
        margin: 0 40px;
        
         @include tab {
            width: 100%;
             margin: 0 auto;
        }
    }
    
    &__copy {
        display: inline-block;
        font-size: 2em;
        font-family: 'Noto Serif JP', serif;
        
         @include sp {
             font-size: 1em;
        }
    }
    
    
    &__text {
        margin-bottom: 150px;
        
         @include sp {
             width: 100%;
             font-size: 13px;
             line-height: 2.4;
             font-family: 'Noto Serif JP', serif;
        }
} 
    
    &__l {
        text-align: center;
        position: relative;
    }
    
    .pc {
        margin-bottom: 50px;
        height: 250px;
        
        @include sp {
             height: 150px;
        }
    
    .pc::after {
        content: '';
        position: absolute;
        width: 69.9%;
        border-color: #7fffd4;
        left: 0;
        top: 15px;
    }
        
            }
}

.likes {
    position: absolute;
    left: 40px;
    bottom: 40px;
    
    @include tab {
        left: 0;
        bottom: 10px;
        } 
    
    p {
        width: 60%;
        margin-bottom: 0;
        
       @include sp {
        
        } 
    }
    
}

/*skil */

.skil {
    margin-top: 30px;
    
    
    &__container {
        margin: 30px auto 0;
        
        &:first-child {
            margin-top: 0;
        }
        
        .row {
            margin: 0 auto;
        }
    }
    
    .col-lg-2 offset-lg-1 col-sm-3 offset-sm-1 col-4 offset-4 {
        text-align: center;
    }
    
    &__text {
        text-align: center; 
        font-family: 'Noto Serif JP', serif;
    }
    
}
    
/* works 
_____________________________________________________________*/
.work-container {
    display: flex;
    columns: 2;
    padding:0 15px;/*ギャラリー左右に余白をつける*/
    margin:0;
    text-align: center;
    
    @include tab {
        display: block;
        columns:  1;/*段組みの数*/
    }
}

.work {
    margin: auto;
    
    &__img {
        width: 50%;
    }
}



/* gallery
_____________________________________________________________*/
.gallery{
columns: 3;/*段組みの数*/
padding:0 15px;/*ギャラリー左右に余白をつける*/
margin:0;
    
    @include tab {
        columns: 3;/*段組みの数*/
    }
}

.gallery col-lg-12 {
    width: 100%;
}

.gallery li {
    margin-bottom: 20px;/*各画像下に余白をつける*/
list-style:none;
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img{
	width:100%;
	height:auto;
	vertical-align: bottom;/*画像の下にできる余白を削除*/}

li {
	margin: 0 0 5px;
}

/* contact */
.contact {
    
    &__wrapper {
        min-height: 1.7em;
        overflow: hidden;
        
        p {
            margin-top: 15px;
            
            &:first-child {
                margin-top: 0;
            }
        }
        
        input {
            width: 15rem;
            height: 2rem;
            background-color: #fff;
            border: 1px solid #000;
            padding: 0.2rem 1rem;
            font-family: 'Noto Serif JP', serif;
        }
        
        textarea {
            width: 30rem;
            height: 10rem;
            background-color: #fff;
            border: 1px solid #000;
            padding: 0.2rem 1rem;
            font-family: 'Noto Serif JP', serif;
            
    @include tab {
        width: 20rem;
        }
    
    @include sp {
        width: 15rem;
        }
        }
        
        input[type=submit] {
            width: 5rem;
            padding: 0;
            font-family: 'Noto Serif JP', serif;
        }
        
        .submit {
                text-align: center;
        }
        
        input[type=submit]:hover {
                opacity: 0.7;
            }
    }
}

.contact-flex {
    display: flex;
    justify-content: space-around;
    
    @include tab {
        flex-flow: column;
        justify-content: space-between;
        text-align: center;
        }
    } 

.contact-item {
        margin: 15px;
    
    @include sp {
        margin: 0;
        }
    }